.sec2 {
    overflow: hidden;
    padding: 80px 0;

    @include media(w1024) {
        padding: 60px 0 0;
    }

    @include media(w768) {
        padding: 30px 0 0;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 62%;
        max-height: calc(100% - 80px);

        @include media(w1366) {
            //right: 62%;
        }

        @include media(w1024) {
            max-height: 108%;
            z-index: 1;
        }

        @include media(w768) {
            display: block;
            margin: 0 auto;
            position: static;
            max-height: none;
            max-width: 400px;
            width: 90%;
        }
    }

    &__border {
        border: $border-width-pc solid $main-green;
        margin-bottom: 20px;
        margin-left: -50px;
        margin-right: -50px;
        padding: 40px;

        @include media(w1280) {
            margin-left: 0;
            margin-right: 0;
        }

        @include media(w1024) {
            padding: 30px 10px;
            text-align: center;
        }

        @include media(w768) {
            border: $border-width-mobile solid $main-green;
            padding: 20px 10px;
        }
    }

    &__list-wrap {
        position: relative;
    }

    &__list {
        position: relative;
        z-index: 2;

        @include media(w1024) {
            padding-left: 40%;
            padding-bottom: 50px;
        }

        @include media(w768) {
            padding-left: 0;
        }
    }

    &__list-item {
        margin-bottom: 20px;
    }

    &__list-img {
        margin-bottom: 20px;
        max-height: 92px;

        @include media(w768) {
            margin-left: 50px;
        }
    }

    &__content {
        padding-left: 38%;

        @include media(w1366) {
            padding-left: 40%;
        }

        @include media(w1024) {
            padding-left: 0;
        }
    }

    &__decor {
        margin-bottom: 20px;
        position: relative;

        &:before,
        &:after {
            content: "";
            background-color: $main-green;
            position: absolute;
            height: 2px;
            width: 168px;
        }

        &:before {
            left: 0;
            top: 0;
        }
        
        &:after {
            transform: rotate(35deg);
            transform-origin: 100% 100%;
            left: -168px;
        }

        @include media(w768) {
            margin-left: 50px;
        }
    }
}