$trans: all 0.3s ease;

$content-max-width: 1200px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 18px;

$input-font-size-pc: 25px;
$input-font-size-tablet: $input-font-size-pc;
$input-font-size-mobile: 16px;

$btn-height-pc: 90px;
$btn-height-tablet: 90px;
$btn-height-mobile: 60px;

$btn-font-size-pc: 33px;
$btn-font-size-tablet: $btn-font-size-pc;
$btn-font-size-mobile: 25px;

$border-width-pc: 6px;
$border-width-mobile: 4px;

$main-green: #7bb85e;
$main-blue: #6fa9b4;

$btn-main-bg: $main-green;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;