extends templates/layout

block vars
    - var title = 'Ариадна'

block content
    include components/form
    section.sec.thanks
        include components/header

        div.container.color-white
            div.sec1__content.thanks__content
                div.sec1__border.thanks__border
                img(src="img/sec1-decor-small.png", alt="").sec1__decor.sec1__decor_small
                img(src="img/sec1-decor-big.png", alt="").sec1__decor.sec1__decor_big
                p.thanks__heading.
                    <span id="thanksName"></span><br> менеджеры уже<br> занимаются вашей<br> заявкой
                p.l.
                    Мы свяжемся с Вами<br> в ближайшее время
                div.thanks__buttons
                    a(href="doc/mk.pdf" target="_blank").btn-round.mb1.thanks__buttons-btn.
                        Открыть презентацию
                    a(href="/index.html").thanks__buttons-link.light.
                        Вернуться на сайт
            p.thanks__subtitle.
                График работы с 9.00 до 20.00 Поэтому, если вы оставили заявку в нерабочее время, мы перезвоним вам на следующий рабочий день
        img(src="img/thanks-img.png", alt="").thanks__img