section.sec.sec11
    div.container.color-white
        div.sec11__content
            div.sec11__border
                p.l.semibold.ff-qanelas.
                    Сделайте шаг к открытию медицинского центра,
                p.m.
                    клиентами которого станут бизнесмены, политики и любой житель вашего города, независимо от возраста и уровня доходов
            include bottom-form