section.sec.sec1
    include header
    div.container.color-white
        div.sec1__content
            div.sec1__border
            img(src="img/sec1-decor-small.png", alt="").sec1__decor.sec1__decor_small
            img(src="img/sec1-decor-big.png", alt="").sec1__decor.sec1__decor_big
            h1.
                зарабатывайте<br> от 5 млн ₽ в год
            h2.mb1.
                Лечите людей без операций и лекарств <br>по авторской методике восстановления <br>опорно-двигательного аппарата
            button.btn-round.btn-round_download.js-small-btn.
                Скачать презентацию
    img(src="img/sec1-img.png", alt="").sec1__img