section.sec.sec10
    div.container.ta-center.color-white
        h2.semibold.mb1.
            Вы откроетесь через 60 дней,<br> и окупите все вложения уже на 9й месяц работы!
        button.btn-round.btn-round_white.js-small-btn.sec10__btn.
            Скачать таблицу затрат и доходов