section.sec.sec10
    div.container.ta-center.color-white
        h2.semibold.mb1.
            Вы откроетесь через 60 дней,<br> и окупите все вложения уже на 9й месяц работы!
        a(href="doc/fm.xlsx" download).btn-round.btn-round_white.sec10__btn.
            Скачать таблицу затрат и доходов