section.sec.sec3
    div.container
        div.sec3__content
            p.m.ff-qanelas.mb1
                |В последние несколько лет большую популярность обрели клиники, основанные на
                |
                span.bold.
                    безоперабельном методе лечения
            button.btn-round.btn-round_white.js-small-btn.
                Узнать подробнее