section.sec.sec4
    div.container
        h2.ta-center.mb0.
            «Ариадна»<br> – центр восстановительной травматологии и ортопедии,
        p.l.ff-qanelas.ta-center.sec4__subtitle.
            в который съезжаются<br> люди из разных городов и стран
        div.sec4__row
            div.sec4__col.sec4__col_img
                img(src="img/sec4-img.jpg", alt="").sec4__img
                img(src="img/decor-plus-blue.png", alt="").sec4__decor.sec4__decor_blue
                img(src="img/decor-plus-green.png", alt="").sec4__decor.sec4__decor_green
            div.sec4__col.sec4__col_border
                div.sec4__border
                    p.mb0.light.m.
                        Мы помогаем избавляться от артрозов и остеохондрозов, грыж и протрузий дисков, а также мышечной боли с помощью безоперабельных приёмов лечения: миотерапии, остеопатии и висцеральной терапии.