section.sec.sec5
    div.container
        div.sec5__row
            div.sec5__col.sec5__col_border
                div.sec5__border
                    p.m.light
                        |Благодаря авторской методике лечения мы излечиваем 96,7
                        |
                        |% пациентов – это феноменальная цифра, которой мы гордимся.
                    button.btn-round.js-small-btn.sec5__btn.
                        Скачать презентацию
            div.sec5__col.sec5__col_img
                img(src="img/sec5-img.jpg", alt="").sec5__img
                img(src="img/decor-plus-blue.png", alt="").sec5__decor.sec5__decor_blue
                img(src="img/decor-plus-green.png", alt="").sec5__decor.sec5__decor_green