section.sec.sec6
    div.container
        div.sec6__row
            div.sec6__col
                div.sec6__img-wrap
                    img(src="img/sec6-img.jpg", alt="").sec6__img
                    img(src="img/decor-plus-blue.png", alt="").sec6__decor.sec6__decor_blue
                    img(src="img/decor-plus-green.png", alt="").sec6__decor.sec6__decor_green
            div.sec6__col
                div.sec6__border
                    p.m.light.mb0.
                        За 10 лет мы вылечили более 30 000 человек из России, Казахстана, Германии, Нидерландов, Кипра, Болгарии и Чили. 