section.sec.sec7
    div.container
        div.sec7__text
            p.l.semibold.ff-qanelas.
                Годовой оборот нашего центра достиг 40 млн рублей 
            p.m.ff-qanelas.mb1.
                И в 2017-2018 г. мы планируем открыть по франшизе еще 6 центров
            button.btn-round.btn-round_white.js-small-btn.
                Скачать презентацию
    img(src="img/sec7-map.png", alt="").sec7__map