- sec8List = ["Права на использование бренда «Ариадна»", "Бизнес-план по открытию медицинского", "Авторскую методику лечения", "Рекламные материалы, видеоролики, тексты и  графику", "Помощь в подборе помещения и специалистов", "Помощь в получении лицензии"];

section.sec.sec8
    div.container
        div.sec8__content
            div.sec8__border
                h2.mb0
                    |Станьте владельцем бизнеса, который приносит ощутимую пользу людям и от
                    |
                    span.bold
                        |
                        |590 000 рублей
                    |
                    |прибыли ежемесячно
            p.m.light.mb1.sec8__subtitle.
                В качестве партнёров мы рассматриваем как специалистов с опытом в медицине, так и предпринимателей без опыта в этой сфере. Мы предоставим вам всё необходимое для открытия:
            div.sec8__list
                each item, index in sec8List
                    div.sec8__list-item
                        div.sec8__list-circle
                            img(src="img/sec8-icon" + (index + 1) + ".png", alt="").sec8__list-img
                        p.m.light.mb0.sec8__list-text.
                            #{index + 1}. #{item}