section.sec.sec9
    div.container.ta-center
        p.m.sec9__subtitle.
            Вы будете знать, что нужно делать<br> на каждом этапе при запуска бизнеса
        div.sec9__border
            img(src="img/decor-plus-blue.png", alt="").sec9__decor.sec9__decor_blue
            img(src="img/decor-plus-green.png", alt="").sec9__decor.sec9__decor_green
            p.l.semibold.ff-qanelas.
                Наша поддержка и репутация – ценный ресурс, который обеспечит вас клиентами с первого дня работы
    div.sec9__bottom
        img(src="img/sec10-img.jpg", alt="").sec9__img
        div.container.sec9__container
            div.sec9__content
                h2.bold.mb0.sec9__title.
                    Для старта вам потребуется<br> от 950 000 рублей 
                p.l.medium.ff-qanelas.sec9__bottom-subtitle.
                    на приобретение франшизы
                p.m.light.sec9__text
                    |А также 
                    span.medium.
                        598 000 рублей<br>
                    |
                    |на инвестиции в помещение,<br class="br-tablet"> оборудование и рекламу



